:root {
    --background-color: #191B1B;
    --secondary-background-color: #272629;
    --text-color: #d6caca;
    --primary-color: #50a8ff;
    --heading-color: #f8f6f6;


    --roboto:  'Roboto';
}