.mainHome{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-left: 8rem;
}

.title{
    font-size: 5rem;
    display: flex;
    padding-top: 6rem;
    letter-spacing: 4px;
    
}
#hey{
    color: var(--primary-color);
    font-style: oblique;
    margin-right: 1.5rem;
}
#there{
    color: var(--heading-color);
}



.subTitle{
    display: flex;
    font-size: 3rem;
    letter-spacing: 1px;
}

#Iam{
    color: var(--heading-color);
    opacity: 0.9;
    padding-right: 1rem;
}
#typeWriter{
    color: var(--primary-color);
    opacity: 0.95;
}

.paragraph{
    padding-right: 20rem;
    padding-top: 5rem;
    color: var(--text-color);
    opacity: 0.8;
    font-size: 1.3rem;
}